{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row top-menu">
   <div class="col-md-10"></div>
   <div class="col-md-2 text-right">
   </div>
</div>
<div class="row divider blue">
   <div class="col-md-12"></div>
</div>
<div class="test">
</div>
<div class = 'flash'>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul>
      {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
   </ul>
   {% endif %}
   {% endwith %}
</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newCatalog')}}">
				<button class="btn btn-default" id="new-restaurant">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Catalog
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>

<div style="display: grid;  grid-template-columns: 1fr 1fr 1fr; grid-column-gap: 5px;padding-bottom:5px;">
{% for catalog in catalogs %}
 <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="{{catalog.picture}}" alt="Card image cap" style="height: 160px;">
   <div class="card-body">
      <h5 class="card-header" style="font-weight: bold;font-size: 20px">{{catalog.name}}</h5>
       <h3 class="card-title">Hello in Caregory {{catalog.name}} Click on it to show more about it.</h3>
      <a href="{{url_for('showItems', catalog_id = catalog.id)}}" class="btn btn-primary ">Show {{catalog.name}}</a>
   </div>
     </div>
{% endfor %}
</div>
{% endblock %}
